<table>
  <tr>
    <td>Name</td>
    <td><input type="text" bind:value="name" required /></td>
  </tr>
  <tr>
    <td>Icon</td>
    <td>
      <select bind:value="icon">
        {#each containerIcons as containerIcon}
        <option>{containerIcon}</option>
        {/each}
      </select>
    </td>
  </tr>
  <tr>
    <td>Color</td>
    <td>
      <select bind:value="color">
        {#each containerColors as containerColor}
        <option>{containerColor}</option>
        {/each}
      </select>
    </td>
  </tr>
  <tr>
    <td>Domains</td>
    <td>
      <ul class="styleless-list">
        {#each domains as domain}
        <li>
          <input type="text" bind:value="domain" />
        </li>
        {/each}
      </ul>
    </td>
  </tr>
</table>

<style>
  .styleless-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
