<form>
  <fieldset>
    <legend>Presets</legend>
    <ul class="styleless-list">
      {#each presets as preset}
      <li>
        <label>
          <input type="checkbox" />
          {preset.name}
        </label>
      </li>
      {/each}
    </ul>
  </fieldset>
  <fieldset>
    <legend>My Rules</legend>
    <ul class="styleless-list">
      {#each myRules as myRule}
      <li class="my-rules-item">
        <MyRule
          containerIcons="{containerIcons}"
          containerColors="{containerColors}"
          bind:name="myRule.name"
          bind:icon="myRule.icon"
          bind:color="myRule.color"
          bind:domains="myRule.domains"
        />
      </li>
      {/each}
    </ul>
  </fieldset>
  <button type="submit" on:click="submit(event)">Submit</button>
</form>

<script>
  import MyRule from './MyRule.html'
  import { saveContainerConfigs } from '../services/configurations'

  export default {
    components: {
      MyRule
    },
    data() {
      return {
        myRules: [],
        presets: []
      }
    },
    methods: {
      submit(this: Svelte, event: Event) {
        event.preventDefault()

        const {myRules} = this.get()

        saveContainerConfigs(myRules)
      }
    }
  }
</script>

<style>
  .my-rules-item + .my-rules-item {
    margin-top: 20px;
  }

  .styleless-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
